:root {
  --green: #237a44;
  --wheat: rgb(170, 136, 73);
  --white: rgb(247, 246, 246);
  --wheat-light: #c5af87c9;
  --wheat-lighter: #dcccaec9;
  --wheat-title: #dcccae;
  --twitter: #1da1f2;
  --fb: #1877f2;
  --gmail: #ea4335;
  --delete: #751d15;
  --light-text: rgba(113, 109, 109, 0.738);
  --overley: rgba(19, 78, 26, 0.423);
  --star: #ffd700;
  --star-dark: #d3d3d3;
  --trending: #d7bc25;
  --new: var(--green);
  --sale: #0e458d;
  --clr-banner: rgb(102, 98, 96);
  --pending: rgb(128, 128, 128);
  --user: rgb(128, 128, 128);
  --canceled: rgb(137, 29, 29);
  --hold: rgb(243, 165, 20);
  --owner: rgb(243, 165, 20);
  --shipped: rgb(4, 81, 4);
  --admin: rgb(4, 81, 4);
  --delivered: var(--sale);
  --moderator: var(--sale);
  --nav-btn: #237a44;
  --secondary-light: #c9cbcd;
  --third-light: #000;
  --main-light: #ffffff;
  --forth-light: #ffffff;
  --main-dark: #111417;
  --secondary-dark: #222222;
  --third-dark: rgb(247, 246, 246);
  --forth-dark: #000000;
  --main-shadow: 0.75px 0.75px 1.5px black;
  --secondary-shadow: 0.5px 0.5px 1.5px black;
  --third-shadow: 0.5px 0.5px 0.5px black;
  --forth-shadow: 0.3px 0.3px 0.2px black;
}

.product-par {
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.product-par .slider-products-par {
  width: 100%;
  height: 450px;
}

.product-page {
  overflow: hidden;
  display: flex;
  min-height: calc(100vh - 40px);
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  gap: 40px;
  padding: 15px 0;
  margin: 0 auto;
}
.product-page .images {
  width: 45%;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  gap: 15px;
}
.product-page .images .big-img-par {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.product-page .images .big-img-par img {
  filter: drop-shadow(1.5px 4px 2.5px black);
  -o-object-fit: contain;
     object-fit: contain;
}
.product-page .images .small-img-par {
  align-self: center;
  height: 100px;
  max-width: 500px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  gap: clamp(5px, 1vw, 20px);
  position: relative;
}
.product-page .images .small-img-par .small-img {
  width: clamp(20px, 10vw, 100px);
  height: clamp(60px, 10vw, 100px);
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4px;
  padding: 5px;
}
.product-page .images .small-img-par .small-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: drop-shadow(1.5px 4px 1.5px black);
}
.product-page .details {
  width: 50%;
  height: 85%;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-page .details .title-par {
  display: flex;
  gap: 20px;
}
.product-page .details .title-par.light {
  color: var(--third-light);
}
.product-page .details .title-par.dark {
  color: var(--third-dark);
}
.product-page .details .product-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  gap: 25px;
  width: 240px;
  margin-top: 15px;
}
.product-page .details .product-btn button {
  gap: 4px;
}
.product-page .details .product-btn button.buy {
  background: var(--green);
}
.product-page .details .details-bottom {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.product-page .details .details-bottom .price {
  font-size: 2rem;
  color: var(--wheat);
  text-shadow: 0px 0.8px 0.5px black;
  font-weight: bold;
}

p {
  width: 100%;
  text-align: justify;
  letter-spacing: 0.8px;
  margin: 10px 0;
  margin-top: 15px;
}
p.light {
  color: var(--third-light);
}
p.dark {
  color: var(--third-dark);
}
p::first-letter {
  color: var(--green);
  font-size: 1.2rem;
  margin-left: 20px;
  font-weight: bold;
}

.add-rate {
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.add-rate button {
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 1rem;
  white-space: nowrap;
}

.heart-parent {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  background: transparent !important;
}
.heart-parent svg {
  transform: scale(0.4);
}

.product-rate {
  display: flex;
  height: 30px;
  width: 140px;
  justify-content: flex-start;
  align-items: center;
}

.rate {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 8px;
  color: var(--star);
}

.heart-rate-cont {
  display: flex;
  width: 60%;
  max-width: 200px;
  position: relative;
  top: -3px;
  white-space: nowrap;
  padding: 0 10px;
}

.heading-slider {
  margin: 0;
  margin-top: 50px !important;
}

.stock-par {
  color: var(--light-text);
  white-space: nowrap;
}
.stock-par .stock {
  color: var(--green);
  margin: 3px;
  margin-left: 4px;
  font-weight: bold;
}
.stock-par .stock-card.light {
  color: var(--third-light);
}
.stock-par .stock-card.dark {
  color: var(--third-dark);
}

.stock-icon {
  color: var(--light-text);
  display: inline-flex;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2.5px;
  background: var(--wheat-lighter);
  border-radius: 50%;
}
.stock-icon svg {
  font-size: 0.8rem;
}

.title {
  letter-spacing: 0.8px;
  font-size: 1.2rem;
  font-weight: bold;
}
.title.dark {
  color: var(--secondary-dark);
}
.title.light {
  color: var(--secondary-light);
}

@media (max-width: 650px) {
  .product-page {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .product-page .details {
    width: 95%;
  }
  .product-page .images {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .product-page .images .small-img-par {
    align-self: center;
    align-items: center;
  }
  .product-page .images .small-img-par .small-img {
    width: 80px;
  }
  .product-page .images .big-img-par {
    width: 100vw;
    height: 400px;
    position: relative;
  }
  .product-page .images .big-img-par img {
    height: 60%;
  }
}
.add-rate-pop {
  margin-top: 10px;
}/*# sourceMappingURL=product.css.map */