@import "../variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
.main-bg {
  &.light {
    background: linear-gradient(rgba(136, 134, 134, 0.4), var(--main-light)) 60%;
  }
  &.dark {
    background: linear-gradient(var(--secondary-dark), var(--main-dark) 40%);
  }
}
:root {
  font-size: clamp(12px, 1vw, 16px);
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--green);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(194, 174, 138);
  border-radius: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
