@import "../variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  overflow-x: hidden;
  background: linear-gradient(120deg, var(--forth), var(--main));
}
:root {
  font-size: clamp(12px, 1vw, 16px);
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--green);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(194, 174, 138);
  border-radius: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
