:root {
  --green: #237a44;
  --wheat: rgb(170, 136, 73);
  --white: rgb(247, 246, 246);
  --wheat-light: #c5af87c9;
  --wheat-lighter: #dcccaec9;
  --wheat-title: #dcccae;
  --twitter: #1da1f2;
  --fb: #1877f2;
  --gmail: #ea4335;
  --delete: #751d15;
  --light-text: rgba(113, 109, 109, 0.738);
  --overley: rgba(19, 78, 26, 0.423);
  --star: #ffd700;
  --star-dark: #d3d3d3;
  --trending: #d7bc25;
  --new: var(--green);
  --sale: #0e458d;
  --clr-banner: rgb(102, 98, 96);
  --pending: rgb(128, 128, 128);
  --user: rgb(128, 128, 128);
  --canceled: rgb(137, 29, 29);
  --hold: rgb(243, 165, 20);
  --owner: rgb(243, 165, 20);
  --shipped: rgb(4, 81, 4);
  --admin: rgb(4, 81, 4);
  --delivered: var(--sale);
  --moderator: var(--sale);
  --nav-btn: #237a44;
  --secondary-light: #c9cbcd;
  --third-light: #000;
  --main-light: #ffffff;
  --forth-light: #ffffff;
  --main-dark: #111417;
  --secondary-dark: #222222;
  --third-dark: rgb(247, 246, 246);
  --forth-dark: #000000;
  --main-shadow: 0.75px 0.75px 1.5px black;
  --secondary-shadow: 0.5px 0.5px 1.5px black;
  --third-shadow: 0.5px 0.5px 0.5px black;
  --forth-shadow: 0.3px 0.3px 0.2px black;
}

nav {
  width: 100%;
  max-width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  transition: 0.1s;
}
nav .links-par {
  display: flex;
}
nav ul {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  list-style: none;
  position: relative;
  margin: 5px;
}
nav ul li a {
  white-space: nowrap;
  transition: 0.15s;
  color: inherit;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-size: 1rem;
}
nav ul li a.cart-active-link.active {
  color: var(--green);
}
nav ul li a.link::before {
  transition: 0.5s;
  content: "";
  position: absolute;
  height: 3px;
  top: 120%;
  left: 50%;
  background: var(--wheat);
  width: 0;
}
nav ul li a.link::after {
  transition: 0.5s;
  content: "";
  position: absolute;
  height: 3px;
  top: 120%;
  right: 50%;
  background: var(--wheat);
  width: 0;
}
nav ul li a.link:hover:not(nav ul li a.link.active) {
  color: var(--green);
  opacity: 0.9;
}
nav ul li a.link.active:before {
  border-bottom-right-radius: 3px;
  width: 50%;
}
nav ul li a.link.active:after {
  width: 50%;
  border-bottom-left-radius: 3px;
}
nav ul li a.link.active {
  color: var(--green);
  font-weight: 800;
}
nav ul li a.link.active.active:before, nav ul li a.link.active.active:after {
  width: 50%;
}
nav .nav-is-auth {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 140px;
  margin-left: 10px;
  gap: 5px;
}

.no-data-fav {
  width: 100%;
  height: calc(100% - 70px);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.8px;
  color: var(--green);
}

.theme {
  width: 30px;
  height: 22px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
  z-index: 10;
}
.theme .toggle-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.theme .toggle-icon svg {
  font-size: 16px;
  position: relative;
  z-index: 15;
}
.theme .toggle-icon svg.sun {
  color: #fdb813;
}

@media (max-width: 800px) {
  nav {
    padding: 0 10px;
  }
  nav .links-par {
    justify-content: flex-end;
    min-width: initial;
    width: initial;
  }
  .aside-links {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    right: 0;
    z-index: 5;
  }
  .aside-links .light {
    background-color: var(--secondary-light);
  }
  .aside-links .dark {
    background-color: var(--secondary-dark);
  }
  .aside-links .links {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .aside-links .links a {
    font-size: 20px;
  }
  .aside-links .links a:before, .aside-links .links a:after {
    content: initial;
  }
}
#logo-svg {
  filter: drop-shadow(var(--third-shadow));
  transition: 0.3s;
  transform-origin: 0 0;
}/*# sourceMappingURL=nav.css.map */