@import "@/styles/variables.scss";

nav.main {
  transition: 0.3s ease-in-out;
  left: 0;
  width: 100vw;

  .links-par {
    display: flex;
  }
  .nav-children {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      list-style: none;
      position: relative;
      margin: 5px;
      a {
        transition: 0.3s;
        color: var(--third);
        font-weight: bold;
        &.active {
          color: var(--green);
        }
        &:hover:not(&.active) {
          color: var(--green);
          opacity: 0.7;
        }
      }
    }
  }
  .nav-is-auth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 140px;
    margin-left: 10px;
    gap: 5px;
  }
}

.no-data-fav {
  width: 100%;
  height: calc(100% - 80px);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.8px;
}

.theme {
  width: 30px;
  height: 22px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
  z-index: 5;
  .toggle-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    svg {
      font-size: 16px;
      position: relative;
      z-index: 15;
      &.sun {
        color: #fdb813;
      }
    }
  }
}

@media (max-width: 800px) {
  nav {
    padding: 0 10px;

    .links-par {
      justify-content: flex-end;
      min-width: initial;
      width: initial;
    }
  }
  .aside-links {
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(100vh);
    right: 0;
    z-index: 5;
    background-color: var(--secondary);
    .links {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

      a {
        font-size: 20px;
        color: var(--third);
        &:before,
        &:after {
          content: initial;
        }
      }
    }
  }
}

#logo-svg {
  filter: drop-shadow(var(--third-shadow));
  transition: 0.3s;
  transform-origin: 0 0;
}

div.active {
  height: 3px;
  bottom: -20%;
  left: 0;
  background: var(--green);
  width: 100%;
  border-radius: 5px;
}
