@import "@/styles/variables.scss";

.newsletter {
  container-type: inline-size;
  width: 100%;
  background: rgb(153, 136, 104);
  background-size: cover;
  background-position: center;
  background-image: url("@/assets/Images/footer/background.png");
  padding: 20px;
  min-height: 240px;
  position: relative;
  box-shadow: var(--forth-shadow);
  overflow: hidden;
  .newletter-container {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1250px;
  }

  form {
    width: 50%;
    max-width: 500px;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
    height: 50px;
    &.main {
      padding: 0;
      margin: 0;
    }
    background: transparent;

    box-shadow: 0 0 0 000;
    .inp-parent {
      width: 100%;
    }
    button {
      height: 50px;
      &.btn {
        width: fit-content;
      }
    }
    input {
      border: 0;
      background: var(--main);
      border-radius: 0;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      height: 50px;
      &:focus {
        border-right: 0;
      }
    }
    .inp-parent {
      div {
        display: none;
      }
    }
  }
  .news-content {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    text-align: start;
    & > * {
      width: 100%;
      margin: 0 auto;
    }
    h2 {
      text-transform: capitalize;
      color: var(--white);
      font-weight: 800;
      font-size: 2rem;
    }
    span {
      font-weight: 700;

      font-weight: 700;
      letter-spacing: 0.8px;
      &.news-spaecial {
        color: var(--green);
        text-shadow: var(--forth-shadow);
      }
    }
  }
}

@container (max-width:700px) {
  .newletter-container > * {
    margin: 0 auto;
  }
  .newletter-container form.main {
    margin: 0 auto;
  }
}
