@import "../variables.scss";

.banner-par {
  width: 100vw;
  max-height: calc(100vh);
  margin: 0 auto;
  margin-top: 40px;
  display: flex !important;
  align-items: flex-start;
  overflow-y: hidden;

  .banner {
    width: 100%;
    max-width: 1100px;
    height: calc(100vh - 40px);
    margin: 0 auto;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 3vw;
    .banner-image {
      width: 40%;
      display: flex !important;
      justify-content: flex-end !important;
      align-items: flex-start !important;
      align-self: flex-end;
      height: 100%;
      position: relative;
      padding-top: 20px;

      img {
        width: clamp(200px, 40vw, 400px);
      }
    }
  }
}

.banner-btn {
  display: inline-flex;
  align-items: center;
}

.banner-content {
  width: 48%;
  text-shadow: var(--forth-shadow);
  // padding: 10px 20px;
  padding: 10px;
  // padding-left: 40px;
  gap: 10px;
  letter-spacing: 0.1vw;
  .product-links {
    background-color: transparent;
    align-self: flex-start;
  }
  h1 {
    width: 100%;
    font-size: 4.2vw;
    letter-spacing: 0.25vw;

    color: var(--green);
    font-weight: 600;
    text-transform: capitalize;
    font-family: "PT Sans", sans-serif;
    line-height: 4.5vw;
  }
  p {
    color: var(--third);

    font-size: 1rem;
    width: 100%;
    text-transform: lowercase;
    text-align: initial;
    letter-spacing: 0.5px;
    &::first-letter {
      font-size: inherit;
      font-weight: normal;
      color: inherit;

      margin: 0;
    }
  }
}
.swiper-pagination-bullet {
  background: var(--third) !important;
}
.swiper-button-prev {
  left: 2px !important;
}
.swiper-button-next {
  right: 2px !important;
}
.custom-shape-divider-top-1691782077 {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: var(--third);
  opacity: 0.03;
}

.custom-shape-divider-top-1691782077 svg {
  position: relative;
  display: block;
  width: calc(221% + 1.3px);
  height: calc(150vh - 40px);
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1691782077 .shape-fill {
  fill: var(--forth);
}

@media (max-width: 499px) {
  .banner-par {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    .banner {
      gap: 6vh;
      width: 100%;
      max-width: initial;
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;
      margin: 0 auto;
      margin-top: 70px;
      padding: 0;

      .banner-image {
        // display: none !important;
        width: 100%;
        height: 45vh;
        justify-content: center !important;

        img {
          // height: 75%;
          object-fit: contain;
        }
      }
      .banner-content {
        width: 90%;
        align-self: initial;
        margin: 0 auto;
        padding: 0;
        margin: 0;
        h1 {
          font-size: 9.5vw;
          letter-spacing: 0.3vw;
          line-height: 10vw;
        }
        p {
          letter-spacing: 0.4px;

          font-size: 1.15rem;
        }
        .product-links {
          flex-direction: column;
          width: 100%;
          gap: 10px;
          button {
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .title-par {
            width: 100% !important;
          }
          a {
            width: 100% !important;
            text-align: center;
            span {
              width: 100% !important;
              span {
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }

  .custom-shape-divider-top-1691782077 {
    width: 100%;
    top: initial;
    bottom: 0;
    left: 0;
  }
  .custom-shape-divider-top-1691782077 svg {
    height: 40vh;
  }
}
