.counter-par {
  width: fit-content;
  height: 30px;
  justify-content: flex-start;
  background: transparent;
  box-shadow: 0.2px 0.1px 1px black;
  box-shadow: initial;
  border-radius: 6px;
  background: var(--secondary);

  button {
    box-shadow: initial;
    height: 100%;
    width: 20px;
    text-shadow: 0 0 0 transparent;
  }

  .count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    color: var(--third);
    height: 100%;
    background: var(--secondary);
    overflow: hidden;
  }
}
.cart-not-available {
  height: 30px;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--third);
}

.counter {
  height: 30px;
  opacity: 0.5;
  transition: 0.3s;
  color: var(--third);
  background: var(--main);
  &:hover {
    opacity: 1;
  }
  &.red {
    border-radius: 6px 0 0 6px;
    color: var(--third);
    background: var(--main);
  }
  &.green {
    border-radius: 0 6px 6px 0;
    background: var(--main);
    color: var(--third);
  }
}
