@import "../variables.scss";

.dashboard-par {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.3s;
}
#dash-aside {
  position: sticky;
  top: 60px;
  left: 0;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  z-index: 8;
  color: var(--third);
  background: var(--main);
  .dash-user {
    padding: 40px 0 5px 0.8rem;
    gap: 15px;
    justify-content: flex-start;

    .dash-img {
      width: 100px;
      height: 100px;
    }
    h4 {
      text-transform: capitalize;
      font-size: min(2rem, 20px);
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 5px;
      width: 20ch;
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
  .active-dash {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    mix-blend-mode: difference;
  }
  .dash-link {
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: inherit;
    height: 40px;
    transition: 0.4s;
  }
}

.dash-show {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  svg {
    font-size: 2rem;
    position: relative;
    z-index: 10;
  }
}

.crumbs {
  gap: 6px;
  align-self: flex-start;
  margin: 60px 0 0 15px;

  .crumbs-line {
    background-color: var(--wheat-lighter);
    width: 1px;
    height: 1rem;
    border-radius: 2px;
  }
}

a.crumb-link {
  display: inline-block;
  width: fit-content;
  padding: 4px;
  text-transform: capitalize;
  opacity: 0.7;
  font-size: min(12px, 1.2rem);
  color: var(--third);
}
.dash-recap-par {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  width: 100%;
  .dash-recap {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 5px;

    .recap {
      width: 200px;
      background: var(--secondary);
      flex-grow: 1;
      height: 120px;
      padding: 5px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 2px;
      .percent-negative {
        color: var(--delete);
        font-weight: bold;
      }
      .percent-pos {
        color: var(--green);
        font-weight: bold;
      }
      .analytics {
        font-weight: bold;
        font-size: min(22px, 2rem);
        color: var(--third);
        gap: 5px;
        .number {
          height: 1.4rem;

          width: 100%;
        }

        h3 {
          font-size: 1rem;
          letter-spacing: 1px;
          opacity: 0.4;
          padding: 0;
          text-shadow: var(--forth-shadow);
          text-transform: capitalize;
        }
      }
      .links-recap {
        a {
          font-weight: bold;
          font-size: 0.9rem;
        }
        svg {
          font-size: 1.3rem;
          color: var(--third-light);
        }
      }
    }
  }
}
.dash-main-charts {
  margin-top: 0.75rem;
  gap: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .order {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .order-recap-par {
    gap: 0.75rem;
    width: 100%;
    flex-shrink: 2;
    .order-recap {
      width: 100%;
      padding: 0 5px;
      width: 100%;
      color: var(--var(--third));
      border: 2px solid var(--green);
      height: 50px;
      font-size: 0.9rem;
      .order-recap-data {
        display: flex;
        text-transform: capitalize;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6px;

        div.details {
          font-weight: bold;
          font-family: cursive;
        }

        p {
          opacity: 0.8;

          margin-left: 4px;
        }
      }
    }
  }

  .chart-par {
    padding: 1.5rem;
    border-radius: 2px;
    height: 400px;
    flex-grow: 1;
    width: clamp(250px, 100%, 340px);
    background: var(--secondary);

    &.eraning {
      flex-grow: 2;
    }
    h2 {
      font-size: min(20px, 2rem);
      margin: 0.7rem 0;
      text-transform: capitalize;
    }
  }
}

.aside-dash-label {
  color: var(--third);
  font-size: 1rem;
  padding: 6px;
  margin-left: 10px;
  font-weight: 600;
  margin-top: 15px;
  margin: 1rem 10px 0 0;
  text-transform: capitalize;
  letter-spacing: 1px;
}

@media (max-width: 650px) {
  #dash-aside {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-radius: initial;
    background: var(--secondary);
    height: 100vh;
  }
  form.update-product-form {
    width: 95vw;
  }
}

nav.dash-nav {
  z-index: 50;
  justify-content: flex-end;
  box-shadow: 1px 0.5px 1px 1px grey;
  .nav-children {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

// .order-link {
//   padding: 2px 20%;
//   font-weight: bold;
//   text-transform: capitalize;
//   letter-spacing: 0.7px;
//   span :not(:last-child) {
//     display: inline-block;
//     border-bottom: 0.4px solid var(--secondary);
//   }
// }

.dash-main {
  container-type: inline-size;
  container-name: dashboard;
  max-width: 1250px;
  margin: 0 auto;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 85vh;
  color: var(--third);
  .product-list-par {
    padding-top: 0;
  }
}
.mobile-dashboard {
  display: none;
}
@container dashboard (max-width:800px) {
  table.dash-table {
    display: none;
  }
  .mobile-dashboard {
    display: flex;
  }
}
