@import "../variables.scss";

footer {
  padding-bottom: 0;
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-shadow: var(--forth-shadow);
  justify-content: space-between;

  .content {
    padding: 15px 0;
    font-weight: 700;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4px;
    font-weight: normal;

    .about-footer {
      margin: 0 auto;
      min-width: 320px;
      margin-bottom: 30px;

      svg {
        path {
          color: var(--third);
          opacity: 0.7;
        }
      }
      svg {
        filter: drop-shadow(var(--forth-shadow));
      }

      p {
        width: 90%;
        max-width: 350px;
        color: var(--third);
        opacity: 0.7;
        text-align: center;

        &::first-letter {
          font-weight: normal;
          color: inherit;
        }
      }
    }
  }
  .footer-links-par {
    gap: 15px;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    min-width: 200px;
    margin-bottom: 30px;
    span {
      a {
        text-transform: capitalize;
        letter-spacing: 1px;
        color: var(--wheat);
        text-align: start;
        font-weight: bold;
      }
    }
  }
}

.icons-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin: 0 auto;
  flex-grow: 1;
  min-width: 320px;

  h3 {
    align-self: center;
  }
  .icon-parent {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: var(--main);
    transition: 0.3s;
    border-radius: 4px;
    text-decoration: none;
    color: var(--third);
    svg {
      filter: drop-shadow(var(--forth-shadow));
    }
    path {
      transition: 0.3s;
      fill: var(--third);
    }

    &:hover {
      background: var(--third);

      box-shadow: var(--third-shadow);
      path {
        fill: var(--main);
      }
    }
  }
}

.footer-head {
  font-size: 1.5rem;
  color: var(--third);
  text-transform: capitalize;
  letter-spacing: 0.8px;
}

.copyright {
  margin-top: 10px;
  color: var(--white);
  height: 60px;
  font-weight: bold;
  background-color: black;
  letter-spacing: 1px;
  font-style: 14px;
  display: flex;
  justify-content: space-between;
  padding: 0 4vw;
  font-size: 1rem;

  white-space: nowrap;
}

.pay-par {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: fit-content;
  text-transform: lowercase;
  min-width: 200px;
  flex-grow: 2;
  img {
    width: 100%;
    max-width: 100px;
    object-fit: contain;
  }
  small {
    font-size: 0.8rem;
  }
}

.social-icons {
  display: flex;
  gap: 10px;
}
