@import "../variables.scss";

.payment {
  display: flex;
  justify-content: center;

  align-items: flex-start;
  gap: 7vw;
  margin: 0 auto;

  .ordered-products {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
    .ordered-product {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
    }

    .ordered-product {
      padding: 15px;
      width: 100%;
      text-transform: capitalize;
      font-weight: bold;
      .details {
        text-wrap: nowrap;
        color: var(--third);
        font-size: min(2rem, 16px);
        .value {
          font-weight: 500;
        }
      }
    }
    h3 {
      text-transform: capitalize;
      margin-top: 10px;
    }
  }
  .total-price-ordered {
    font-size: min(2rem, 20px);
    padding: 20px;
  }
}

form#payment-form {
  background: var(--secondary);
  position: sticky;
  top: 200px;
  align-self: flex-start;
  margin-top: 200px;
  margin: 0 auto;
  height: fit-content;
  padding: 40px;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 2px black;
  padding-bottom: 40px;
  gap: 30px;
  overflow: hidden;
  p {
    color: var(--third);
  }
  & > * {
    width: 350px;
  }

  h2 {
    text-align: center;
  }
  p {
    width: 40ch;
    text-wrap: balance;
    text-align: center;
  }

  // input {
  //   width: 80%;
  //   height: 30px;
  //   padding: 0;
  //   padding-right: 20px;
  //   background-color: var(--main);
  //   box-shadow: var(--third-shadow);
  //   border-radius: 5px;
  //   color: var(--third);
  // }
  button {
    border-radius: 5px;
    height: 40px;
    margin: 0 auto;
    width: 120px;
  }
}
.order-success-pop {
  height: 150px;
  width: clamp(300px, 90vw, 500px);
  padding: 12%;
  h1 {
    font-size: min(2rem, 30px);
    color: var(--third);
    text-transform: capitalize;
  }
  p {
    color: var(--third) !important;
    padding: 20px;
    text-wrap: balance;
  }
}
@media (max-width: 750px) {
  .payment {
    width: 95%;
    flex-direction: column;
    gap: 10px;
    .ordered-products {
      width: 100%;
      justify-content: flex-start;

      .ordered-product {
        width: 100%;
      }
    }
  }
  form#payment-form {
    padding: 40px 1.2rem;
    margin-top: 20px;

    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
    & > * {
      width: 100%;
    }
  }
}
