@import "../variables.scss";

.payment {
  display: flex;
  width: 95vw;
  max-width: 950px;
  min-height: calc(100vh - 90px);
  justify-content: space-between;
  align-items: flex-start;
  color: var(--third) !important;
  gap: 50px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 0 25px;
  .ordered-products {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    gap: 10px;
    h2 {
      margin: 0;
      margin-bottom: 12px;
      align-self: flex-start;
    }
    .detail {
      color: var(--third);
      padding: 0;
      font-weight: 600;
      // padding-left: 5px;
    }
    .value {
      padding: 0;
      text-shadow: var(--forth-shadow);

      color: var(--wheat);
      .price-top {
        bottom: -4px;
        font-size: 0.6rem;
      }
      .price-product {
        font-size: 1.2rem !important;
        margin-top: 0;
      }
      .ordered-product {
        padding: 15px;
        width: 100%;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1rem;
      }
      h3 {
        text-transform: capitalize;
        margin-top: 10px;
      }
    }
  }
  .pay-or {
    width: 100%;
    height: 0.5px;
    background-color: var(--third);
    opacity: 0.2;
  }
}

form#payment-form {
  background: #222222;

  align-self: center;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 2px black;
  padding-bottom: 40px;
  gap: 30px;
  overflow: hidden;

  h3 {
    text-transform: capitalize;
    margin: 10px 0;
    &.underline:before {
      margin: 0 !important;
    }
  }
  h2 {
    color: white;
  }

  input {
    width: 80%;
    height: 30px;
    padding: 0;
    padding-right: 20px;
    background-color: var(--main);
    box-shadow: var(--third-shadow);
    border-radius: 5px;
    color: var(--third);
  }
  button {
    border-radius: 5px;
    height: 40px;
    margin: 0 auto;
    width: 120px;
  }
}
.order-confirmed {
  color: var(--third);
  gap: 5px;
  height: 250px;
  h1 {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
  p {
    width: 90%;
    color: grey;
    text-align: center;
    margin: 0px;
    &::first-letter {
      margin: 0;
      color: grey;
    }
  }
}
@media (max-width: 650px) {
  .payment {
    width: 95%;
    flex-direction: column;

    .ordered-products {
      width: 100%;
      justify-content: flex-start;
      .total-pay {
        align-self: flex-start;
      }
      .ordered-product {
        width: 100%;
      }
    }
  }
}
