@import "../variables.scss";
@import "../globels/classes.scss";
.slide-bottom {
  background: var(--main);
  width: 400px;
  align-self: flex-end;
}

.slide-par {
  width: 240px;
  height: 40px;
  border-radius: 20px;
  justify-content: flex-start;
  position: relative;
  margin-top: 5px;
}

.rate-form {
  width: 90%;
  margin: 5px auto;

  .rate-inp {
    border-radius: 2px;
    width: 100%;
    background: #000;
    color: white;
    letter-spacing: 0.8px;
    font-size: 0.8rem;
  }
}

.confirmed {
  color: var(--green);
  letter-spacing: 1px;
  gap: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: capitalize;
  min-height: 100%;
}

.scale {
  transform: scale(2);
  margin-bottom: 15px;
}

.password {
  height: 280px !important;
  .err-form {
    transform: scale(0.9);
  }
}
.update-password {
  height: 350px !important;
  gap: 20px;
  .inp-parent {
    margin: 0 !important;
  }
}

.order-success {
  height: 200px;
  background: var(--main);
  width: 300px;
  border-radius: 10px;
  white-space: nowrap;
  position: relative;
  align-self: flex-end;
}
