@import "../variables.scss";

.sort-par {
  gap: 2%;
  width: 100%;
  position: relative;
  max-width: 1250px;
  margin: 5px auto;
  margin-top: 0;
  div.sort-actions {
    padding: 0 15px;
    gap: 20px;
  }
  .view-opt {
    gap: 1.5vw;
    font-weight: bold;
  }
  .hide-filter-par {
    button {
      border: 0;
      outline: 0;
      font-size: 0.9rem;
      background: transparent;
      font-weight: bold;
    }
  }
  .view-type {
    width: 80px;
    gap: 10px;
    font-size: 1.2rem;

    .view-icon {
      &.shadow {
        filter: drop-shadow(0.5px 1.5px 1px black);
      }
    }
  }

  .view-par {
    display: flex;
    font-weight: normal;
  }
}

.search {
  position: relative;
  box-shadow: var(--third-shadow);
  background: var(--secondary);
  max-width: 600px;

  cursor: pointer;
  padding: 0;
  input {
    border: 0;
    outline: 0;
    width: calc(100%);
    padding: 0 10px 0 30px;
    height: 40px;
    border-radius: 5px;

    letter-spacing: 0.8px;
    font-size: 0.9em;
    font-weight: 700;
    background-color: transparent;
    color: var(--third);

    &:focus {
      border: initial;
    }
  }
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 20px;
    font-size: 12px;
    color: var(--third);
  }

  .dropdown-search {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    width: 100%;
    list-style: none;
    z-index: 4;
    gap: 2px;
    color: var(--white);
    border-radius: 5px;
    padding: 2px 0;
  }
  .search-res {
    padding: 5px;
    transition: 0.3s;
    width: 100%;
    height: 30px;
    z-index: 4;

    cursor: pointer;
    &.active {
      background: var(--wheat-light);
    }
  }
}

.pending-search {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 4;
  padding: 5px 0;
  span {
    color: white;
  }
}
.control-aside {
  font-weight: normal;
  cursor: pointer;
  width: 80px;
}

.sort-title {
  &.header {
    margin: 15px auto;
  }
  color: var(--third);
}

@media (max-width: 850px) {
  form.search {
    max-width: initial;
  }
  .search-drop-par {
    opacity: 0;
  }
}
