.form-container {
  overflow: hidden;
}
form.main.log-in {
  &.signup {
    margin-top: 10vh;
  }
  .main {
    svg {
      font-size: 18px;
    }
  }
  .sign {
    color: var(--wheat-light);
  }

  .redirect {
    color: var(--third-light);
    letter-spacing: 1.1px;
    a {
      display: inline-block;
      font-size: 1rem;
      text-decoration: underline;
      text-decoration-color: var(--wheat);
      color: var(--green);
      margin-left: 6px;
      transition: 0.3s;
      text-transform: capitalize;
      font-weight: bold;
      &:hover {
        color: var(--wheat);
        text-decoration-color: var(--green);
        cursor: pointer;
      }
    }
  }
  .google-log {
    border: 0;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    justify-content: flex-start;
    gap: 20px;
    box-shadow: var(--third-shadow);
    text-transform: capitalize;
    font-weight: 400;
    color: var(--wheat);
    letter-spacing: 1px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.2rem;
    justify-content: center;
    color: var(--third);
    background: var(--main) !important;
  }
}
.hr {
  span {
    background: var(--secondary);
    padding: 2px;
    font-size: min(1.4rem, 14px);
  }
}

.inp-parent {
  position: relative;

  input {
    min-height: 40px;
    width: 100%;
  }
}
.inp-icon {
  transition: 0.3s;
  position: absolute;
  right: 8px;
  font-size: 16px;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--third-light);
  opacity: 0.4;
  &:hover,
  &.inp-icon-focus {
    opacity: 0.8;
  }
}

#err-form {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--delete);
  text-transform: lowercase;
  width: 90%;
  text-wrap: balance;
  font-family: cursive;
  font-size: min(12px, 1rem);
  &::first-letter {
    text-transform: capitalize;
  }
}

.abs-err {
  #err-form {
    position: absolute;
    top: 105%;
    left: 0;
  }
}

.home-link {
  color: var(--third-light);
  position: absolute;
  top: -30px;
  font-weight: 600;
  left: 4px;
  width: fit-content !important;
}

@media (max-width: 600px) {
  form.main.signup {
    margin-top: 9vh;
  }
  form.main.signin {
    margin-top: 15vh;
  }
}
